<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script>
    const ROOM_ID = "<%= roomId %>"
    const USERNAME = "<%= username %>"

    const PEER_HOST = "<%= peerSettings.host %>"
    const PEER_PORT = "<%= peerSettings.port %>"
    const PEER_PATH = "<%= peerSettings.path %>"
  </script>

  <script src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script>
  <script src="/hark.bundle.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/script.js" defer></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://webrtchacks.github.io/adapter/adapter-latest.js"></script>
  <link rel="stylesheet" href="/style.css">
  <title>Room</title>
  <style>
    #audio-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }
    
    audio {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div class="content">
    <p class="logo"><span style="color: #8526fa;">Vox</span><span style="font-weight: 100">um</span><sup style="font-size: 19px;">α</sup></p>  
    <h3>Room ID: <%= roomId %></h3>
    <div id="audio-grid"></div>
    <div id="user-list"></div>
  </div>
</body>
</html>
